*{
    margin: 0;
}
body{
    width: 100%;
    height: 96vh;
    background-image: url(img/steppe-4102069_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    display: flex;
    margin-top: 20px;
    
 
}
.nav {
    margin-left: 65%;
    display: flex;
    list-style-type: none;
    
    
    
}

.nav li a{
    text-decoration: none;
    color: black;
    align-content: center;
    list-style-type: none;
    padding: 20px;
    
}
.logotype p a{
    text-decoration: none;
    margin-left: 50px;
    color: black;
    
    
    
}
.nav li a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
    
}


.row {
    text-align: center;
    margin-top: 100px;
}

.col p{
    font-size: 50px;
    letter-spacing: 12px;
}
.col h2{
    letter-spacing: 6px;
    font-size: 25px;
}

.history{
    margin-top: 500px;
    margin-left: 30px;
    display: flex;
    height: 400px;

}
hr {
    width: 90%;
    margin-left: 5%;
    
    
    
}

.hisimg {  
    height: 350px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    background-image: url(img/1569500098_6635156_1569500012_0737915tomiris_5d8b28117b8e1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.histext{
    width: 600px;
    height: 350px;
    box-sizing: border-box;
    font-size: 25px;
    margin-left: 100px;
    text-align: center;
    margin-top: 120px;
}
.btn{
    margin-top: 320px;
}

    



